---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% assign publications = site.data.publications %}

{% for category in publications %}
  <h2>{{ category.type }}</h2>
  <ul>
    {% for paper in category.papers %}
      <li>
        {% if paper.url %}
          <a href="{{ paper.url }}">{{ paper.title }}</a>
        {% else %}
          {{ paper.title }}
        {% endif %}
        <br/>
        {{ paper.authors }}<br/>
        <em>{{ paper.journal }}</em>
        {% if paper.conference %}
          <br/><span style="color:gray">{{ paper.conference }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}





<!-- ---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



 -->
